<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/8579469938.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
<body>
  <header class="header">
    <div class="topbar">

      <a href="/"><img class="logo" src="images/airpnp.jpg" alt="Airpnp-logo"></a>

      <ul class="topnav">
          <li><a href="#">Become host</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="/room-listing">Room listing</a></li>
      </ul>

      <div class="btnlist">
        <ul>
          <a href="/signinpage"><li><button>Login</button></li></a>
          <a href="/registrationpage"><li><button>SignUp</button></li></a>
        </ul>   
      </div>
    </div>
  </header>
    <main>
    
    {{{body}}}    
    </main>
    <footer class="foot">
      <div class="icons">
        <ul>
          <li><a href="#" class="fab fa-facebook"></a></li>
          <li><a href="#" class="fab fa-twitter"></a></li>
          <li><a href="#" class="fab fa-youtube"></a></li>
          <li><a href="#" class="fab fa-google"></a></li>
        </ul>
      </div>
      <div></div>
      <label><a href="#">Contact US</a></label>
      <label>All rights reserved</label>
    </footer>

</body>
</html>