<h2 class="dash-title">Welcom Admin: {{user.firstName}} {{user.lastName}}</h2>

<img src="/uploads/{{user.profilePic}}" class="dash-img">

<div>

  <a href="/editroom" class="edit-btn">Edit Room</a>

</div>