<section>
  <div class="background">
    <div class="container">
      <div class="heading">
      <h1>Book unique places to stay<br> and things to do.</h1>
    </div>
    <div>
      <form class="search-form">

      <div class="field">
      <label for="where"><b>Where</b></label>
      <input list="browsers" placeholder="Anywhere" name="where" class="drop" required>
        <datalist id="browsers">
          <option value="Toronto">
          <option value="Ottawa">
          <option value="Quebec City">
          <option value="Monteral">
          <option value="Vancouver">
        </datalist>
      </div>

      <div class="field">
      <label for="checkin"><b>Check-In</b></label>
      <input type="date" placeholder="dd-mm-yyyy" name="checkin">

      
      <label for="checkout"><b>Check-Out</b></label>
      <input type="date" placeholder="dd-mm-yyyy" name="checkout">
      </div>

      <div class="field">
      <label for="guests"><b>Guests</b></label>
      <input type="text" placeholder="Guests" name="guests">
      </div>

      <input type="submit" class="searchbtn" value="Search">
      </form>
    </div>
    </div>
  </div>
</section>

<section>
  <div class="part">
      <h1>Room Promotion--UP to 30% off</h1>
  </div>

<div class="roomlistpreview" >
  <section class="card">
  <div class="adv-img">
    <img src="images/room2.jpg" alt="Room1" width="100%" >
  </div>
    <div>
      <h2><strong>Full Studio Suite #3 - The Lake at Blue Mountains</strong></h2>
      <p><del>Price: $168/night</del></p>
      <p>Price: $102/night</p>
      <p>Rating: 4.88/5 (35)</p>
      <input type="button" class="book" id="book" value="BOOK NOW">
      </div>
  </section>

  <section class="card">
  <div class="adv-img">
    <img src="images/room3.jpg" alt="Room2" width="100%" >
  </div>
    <div>
      <h2><strong>Tiny Home Tranquility at Blue Mountains</strong></h2>
      <p><del>Price: $204/night</del></p>
      <p>Price: $269/night</p>

      <p>Rating: 3.99/5 (98)</p>
      <input type="button" class="book" id="book" value="BOOK NOW">
      </div>
  </section>


    <section class="card">
  <div class="adv-img">
    <img src="images/room4.jpg" alt="Room3" width="100%" >
  </div>
    <div>
      <h2><strong>Creekside Studio at Blue Mtn. and Dog Friendly</strong></h2>
      <p><del>Price: $125/night</del></p>
      <p>Price: $98/night</p>
      <p>Rating: 4.45/5 (67)</p>
      <input type="button" class="book" id="book" value="BOOK NOW">
      </div>
  </section>


    <section class="card">
  <div class="adv-img">
    <img src="images/room5.jpg" alt="Room4" width="100%" >
  </div>
    <div>
      <h2><strong>Mountain Access Studio Gataway-ski-in-ski-out</strong></h2>
      <p><del>Price: $266/night</del></p>
      <p>Price: $205/night</p>
      <p>Rating: 4.12/5 (156)</p>
      <input type="button" class="book" id="book" value="BOOK NOW">
      </div>
  </section>

  </div>
</section>

<section>
  <div class="part">
    <h1>Explore AirPnP</h1>
  </div>

  <div class="explore">
    <section class="card">
    <div>
      <img src="images/ad1.jpg" alt="Stays"  width="100%">  
    </div>
    <div>
      <p class="explorename"><strong>Stays</strong></p>
    </div>
    </section>

    <section class="card">
      <div>
        <img  src="images/ad2.jpg" alt="Experiences" height="100%" width="100%">  
      </div>
      <div>
        <p class="explorename"><strong>Experiences</strong></p>
      </div>
    </section>

    <section class="card">
    <div>
      <img  src="images/ad3.jpg" alt="Adventures" height="100%" width="100%">  
    </div>
      <div>
        <p class="explorename"><strong>Adventures</strong></p>
      </div>
    </section>
  </div>
</section>





        