<div class="signup">
  <h1>Login your Account</h1>
  <br>

<form class="logintext" action="/signinpage" method="POST">
   <div>{{#each messages}}
    <div class="errors">{{this}}</div>
    {{/each}}
  </div>
    <label for="logname"><b>Email</b></label>
    <input type="email" name="logname" placeholder="Email Address">
    <label for="logpass"><b>Password</b></label>
    <input type="password" name="logpass" placeholder="Password">
    <br>
    <br>
    <input type="submit" name="submit" value="Login" class="signupbtn" id="sbtn">
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>