<section>
    <h1 class="title">Rooms listing</h1>
    <p class="note1">Additional fees apply. Taxes may be added</p>
    <h2 class="note2">
        300+ places to stay
    </h2>
<div class="listorder">
    <div class="card">
        <img src="images/room7.jpg" alt="Room 1"width="100%" >
        <div>
            <h3>ENTIRE APARTMENT</h3>
            <h2>Full Studio Suite #3 - The Lake at Blue Mountains</h2>
            <p>4 guests • 1 bedroom • 1 bed • 1 bath<br>Wifi • Kitchen • Freen parking</p>
            <div class="price">
                <h4>$163 CAD/night</h4>
                <p>$183 CAD total</p>
            </div>

            <div class="rate">
                <p><strong>4.12/5</strong> (146) • Superhost</p>
            </div>
        </div>
        <input type="button" value="BOOK NOW" class="book">
    
    </div>
        <div class="card">
            <img src="images/room2.jpg" alt="Room 2" width="100%">
            <div>
                <h3>ENTIRE GUEST SUITE</h3>
                <h2>Tiny Home Tranquility</h2>
                <br>
                <p>2 guests • 1 bedroom • 1 bed • 1 bath<br>Wifi • Kitchen • free parking</p>
                <div class="price">
                    <h4>$198 CAD/night</h4>
                    <p>$221 CAD total</p>
                </div>

                <div class="rate">
                    <p><strong>4.37/5</strong> (12) • Superhost</p>
                </div>
            </div>
            <input type="button" value="BOOK NOW" class="book">

        </div>
        <div  class="card">
            <img src="images/room3.jpg" alt="Room 3" width="100%">
            <div>
                <h3>ENTIRE CONDOMINIUM</h3>
                <h2>Creekside Studio at Blue Mtn. and Dog Friendly</h2>
                <p>4 guests • 1 bedroom • 1 bed • 1 bath<br>Hot tub • Wifi • Kitchen • Free parking</p>
                <div class="price">
                    <h4>$278 CAD/night</h4>
                    <p>$302 CAD total</p>
                </div>

                <div class="rate">
                    <p><strong>4.76/5</strong> (64) • Superhost</p>
                </div>
            </div>
            <input type="button" value="BOOK NOW" class="book">
        </div>
        <div class="card">
            <img src="images/room4.jpg" alt="Room 4" width="100%">
            <div>
                <h3>ENTIRE CONDOMINIUM</h3>
                <h2>Mountain Access Studio Gataway-ski-in-ski-out</h2>
                <p>4 guests • Studio • 2 bed • 1 bath<br>Hot tub • Wifi • Kitchen •free parking</p>
                            
                <div class="price">
                    <h4>$299 CAD/night</h4>
                    <p>$330 CAD total</p>
                </div>

                <div class="rate">
                    <p><strong>3.98/5</strong> (24) • Superhost</p>
                </div>
            </div>
            <input type="button" value="BOOK NOW" class="book">
        
        </div>
        <div class="card">
            <img src="images/room5.jpg" alt="Room 5" width="100%">
            <div>
                <h3>ENTIRE house</h3>
                <h2>Earthship Escape</h2>
                <br>

                <p>2 guests • 1 bedroom • 1 bed • 1.5 bath<br>Hot tub • Wifi • Kitchen • free parking</p>
                <div class="price">
                    <h4>$149 CAD/night</h4>
                    <p>$165 CAD total</p>
                </div>

                <div class="rate">
                    <p><strong>4.12/5</strong> (222) • Superhost</p>
                </div>
            </div>
            <input type="button" value="BOOK NOW" class="book">

        </div>
        <div class="card">
            <img src="images/room9.jpg" alt="Room 6" width="100%">
            <div>
                <h3>ENTIRE APARTMENT</h3>
                <h2>Telfer</h2>
                <br>
                <p>2 guests • Studio • 1 bed • 1 bath<br>Hot tub • Wifi • Kitchen •free parking</p>
                  
                <div class="price">
                    <h4>$140 CAD/night</h4>
                    <p>$163 CAD total</p>
                </div>

                <div class="rate">
                    <p><strong>4.23/5</strong> (63) • Superhost</p>
                </div>
            </div>
            <input type="button" value="BOOK NOW" class="book">

        </div>
    </div>
</section>